.Comments {
    .wrapper {
        padding: 50px 13vw;

        @media(max-width:1350px) {
            padding: 50px 10vw;
        }

        @media(max-width:900px) {
            padding: 50px 8vw;
        }

        @media(max-width:767px) {
            padding: 50px 8vw;
            padding-top: 10px;
        }

        @media(max-width:500px) {
            padding: 30px 7vw;
            padding-top: 10px;
        }

        .title {
            opacity: 0.7;
            font-weight: 700;
            font-family: 'Mulish', sans-serif;
        }

        .carousel {
            .slick-list {
                padding-top: 3vw !important;
                padding-bottom: 5px !important;

                @media(max-width:767px) {
                    padding-top: 4vw !important;
                }

                &::before {
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 5vw;
                    content: "";
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(-270deg, #1A1A1A 25.56%, rgba(0, 0, 0, 0) 62.85%);

                    @media(max-width:600px) {
                        display: none;
                    }
                }

                &::after {
                    top: 0;
                    right: 0;
                    z-index: 2;
                    width: 5vw;
                    content: "";
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(270deg, #1A1A1A 25.56%, rgba(0, 0, 0, 0) 62.85%);

                    @media(max-width:600px) {
                        display: none;
                    }
                }
            }

            .comment {
                padding: 0 1vw;

                @media(max-width:600px) {
                    padding: 0 2vw;
                }

                .body {
                    padding: 1vw 2vw;
                    position: relative;
                    border-radius: 0.7vw;
                    -webkit-border-radius: 0.7vw;
                    -moz-border-radius: 0.7vw;
                    -ms-border-radius: 0.7vw;
                    -o-border-radius: 0.7vw;
                    border: 0.619753px solid #ffffffca;
                    background: rgba(255, 255, 255, 0.07);
                    backdrop-filter: blur(21px);
                    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.1);

                    @media(max-width:767px) {
                        border-radius: 1.2vw;
                        -webkit-border-radius: 1.2vw;
                        -moz-border-radius: 1.2vw;
                        -ms-border-radius: 1.2vw;
                        -o-border-radius: 1.2vw;
                    }

                    @media(max-width:600px) {
                        padding: 2vw 3vw;
                        border-radius: 1.5vw;
                        -webkit-border-radius: 1.5vw;
                        -moz-border-radius: 1.5vw;
                        -ms-border-radius: 1.5vw;
                        -o-border-radius: 1.5vw;
                    }

                    .comment-img {
                        top: -2vw;
                        max-width: 6vw;
                        min-width: 6vw;
                        max-height: 6vw;
                        min-height: 6vw;
                        position: absolute;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;

                        @media(max-width:1100px) {
                            max-width: 7vw;
                            min-width: 7vw;
                            max-height: 7vw;
                            min-height: 7vw;
                        }

                        @media(max-width:767px) {
                            top: -3vw;
                            max-width: 9vw;
                            min-width: 9vw;
                            max-height: 9vw;
                            min-height: 9vw;
                        }

                        @media(max-width:600px) {
                            top: -4vw;
                            max-width: 13vw;
                            min-width: 13vw;
                            max-height: 13vw;
                            min-height: 13vw;
                        }
                    }

                    .top {
                        width: 100%;
                        display: flex;
                        padding-left: 7vw;
                        align-items: center;
                        justify-content: space-between;

                        @media(max-width:1100px) {
                            padding-left: 8vw;
                        }

                        @media(max-width:767px) {
                            padding-left: 10vw;
                        }

                        @media(max-width:600px) {
                            padding-left: 15vw;
                        }

                        .name {
                            margin: 0;
                            color: white;
                            font-size: 1.5vw;
                            font-weight: 800;
                            font-family: 'Mulish', sans-serif;

                            @media(max-width:1100px) {
                                font-size: 2vw;
                            }

                            @media(max-width:767px) {
                                font-size: 3vw;
                            }

                            @media(max-width:600px) {
                                font-size: 4.5vw;
                            }
                        }

                        .date {
                            margin: 0;
                            color: white;
                            font-size: 0.9vw;
                            padding: 0.4vw 1.3vw;
                            border-radius: 0.6vw;
                            -webkit-border-radius: 0.6vw;
                            -moz-border-radius: 0.6vw;
                            -ms-border-radius: 0.6vw;
                            -o-border-radius: 0.6vw;
                            font-family: 'Mulish', sans-serif;
                            background-color: rgba(255, 255, 255, 0.061);

                            @media(max-width:1100px) {
                                font-size: 1.2vw;
                            }

                            @media(max-width:767px) {
                                padding: 0.6vw 2vw;
                                font-size: 1.7vw;
                                border-radius: 1vw;
                                -webkit-border-radius: 1vw;
                                -moz-border-radius: 1vw;
                                -ms-border-radius: 1vw;
                                -o-border-radius: 1vw;
                            }

                            @media(max-width:600px) {
                                font-size: 2.3vw;
                                padding: 0.8vw 2.5vw;
                                border-radius: 1.5vw;
                                -webkit-border-radius: 1.5vw;
                                -moz-border-radius: 1.5vw;
                                -ms-border-radius: 1.5vw;
                                -o-border-radius: 1.5vw;
                            }
                        }
                    }

                    .desc {
                        margin: 0;
                        color: white;
                        font-size: 1vw;
                        margin-top: 2vw;
                        font-weight: 500;
                        font-family: 'Mulish', sans-serif;

                        @media(max-width:1100px) {
                            font-size: 1.3vw;
                        }

                        @media(max-width:767px) {
                            font-size: 2vw;
                        }

                        @media(max-width:600px) {
                            font-size: 3vw;
                            margin-top: 3vw;
                        }
                    }
                }
            }

            .slick-prev {
                z-index: 2;
                width: 3.7vw;
                left: -4.5vw;
                height: 3.7vw;
                border-radius: 50%;
                top: calc(50% + 1.85vw);
                background: transparent;
                border: solid 1px white;

                &:hover {
                    background-color: white;
                    filter: drop-shadow(0px 0px 27px rgba(255, 255, 255, 0.63));

                    &::before {
                        color: black;
                    }
                }

                @media (max-width:600px) {
                    left: -6vw;
                    width: 6vw;
                    height: 6vw;
                    top: calc(50% + 2vw);
                }
            }

            .slick-prev:before {
                color: white;
                font-size: 1.5vw;
                font-weight: 100;
                content: "\f060";
                font-style: normal;
                border-radius: 50%;
                font-family: FontAwesome;

                @media (max-width:600px) {
                    font-size: 3vw;
                }
            }

            .slick-next {
                z-index: 2;
                width: 3.7vw;
                right: -4.5vw;
                height: 3.7vw;
                border-radius: 50%;
                top: calc(50% + 1.85vw);
                background: transparent;
                border: solid 1px white;

                &:hover {
                    background-color: white;
                    filter: drop-shadow(0px 0px 27px rgba(255, 255, 255, 0.63));

                    &::before {
                        color: black;
                    }
                }


                @media (max-width:600px) {
                    right: -6vw;
                    width: 6vw;
                    height: 6vw;
                    top: calc(50% + 2vw);
                }
            }

            .slick-next:before {
                color: white;
                font-size: 1.5vw;
                content: "\f061";
                font-weight: 100;
                font-style: normal;
                border-radius: 50%;
                font-family: FontAwesome;

                @media (max-width:600px) {
                    font-size: 3vw;
                }
            }
        }
    }
}

.light-comments {
    .wrapper {
        .title {
            color: black;
        }

        .carousel {
            .slick-list {
                &::before {
                    background: linear-gradient(-270deg, #F2F2F2 25.56%, rgba(0, 0, 0, 0) 62.85%);
                }

                &::after {
                    background: linear-gradient(270deg, #F2F2F2 25.56%, rgba(0, 0, 0, 0) 62.85%);
                }
            }

            .comment {
                .body {
                    background: rgba(0, 0, 0, 0.07);
                    border: 0.619753px solid #000000c4;
                    box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(21px);

                    .top {
                        .name {
                            color: black;
                        }

                        .date {
                            color: black;
                            background-color: rgba(0, 0, 0, 0.061);
                        }
                    }

                    .desc {
                        color: black;
                    }
                }
            }

            .slick-prev, .slick-next{
                border: solid 1px black;
                &:hover{
                    background-color: black;
                    &::before{
                        color: white;
                    }
                }
                &::before{
                    color: black;
                }
            }
        }
    }
}