.ScrollPercent {
    left: 2%;
    bottom: 3%;
    width: 4vw;
    height: 4vw;
    z-index: 18;
    display: flex;
    position: fixed;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    @media(max-width:800px) {
        width: 7vw;
        height: 7vw;
    }

    @media(max-width:500px) {
        left: 4%;
        bottom: 2%;
        width: 9vw;
        height: 9vw;
    }

    .arrow-up {
        margin: 0;
        padding: 5px;
        width: 87%;
        height: 87%;
        display: flex;
        font-size: 2.8vw;
        color: #76A6EF;
        font-weight: 100;
        border-radius: 50%;
        position: absolute;
        justify-content: center;
        background-color: #363636;

        @media(max-width:800px) {
            font-size: 5vw;
        }

        @media(max-width:500px) {
            font-size: 7vw;
        }
    }
}

.bottom {
    bottom: -10vw;
    transition: 0.3s;
}