* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    // height: 100vh;
    // overflow: hidden;
    box-sizing: border-box;
    animation: body-page 10s forwards linear;
    -webkit-animation: body-page 10s forwards linear;
}

// @keyframes body-page {
//     90% {
//         height: 100vh;
//         overflow: hidden;
//     }

//     100% {
//         height: auto;
//         overflow: inherit;
//     }
// }